{#
 # -------------------------------------------------------------------------
 # Credit plugin for GLPI
 # -------------------------------------------------------------------------
 #
 # LICENSE
 #
 # This file is part of Credit.
 #
 # Credit is free software; you can redistribute it and/or modify
 # it under the terms of the GNU General Public License as published by
 # the Free Software Foundation; either version 3 of the License, or
 # (at your option) any later version.
 #
 # Credit is distributed in the hope that it will be useful,
 # but WITHOUT ANY WARRANTY; without even the implied warranty of
 # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 # GNU General Public License for more details.
 #
 # You should have received a copy of the GNU General Public License
 # along with Credit. If not, see <http://www.gnu.org/licenses/>.
 # -------------------------------------------------------------------------
 # @author    François Legastelois
 # @copyright Copyright (C) 2017-2023 by Credit plugin team.
 # @license   GPLv3 https://www.gnu.org/licenses/gpl-3.0.html
 # @link      https://github.com/pluginsGLPI/credit
 # -------------------------------------------------------------------------
 #}

<div class="credit_ticket_form">
    <div class="spaced">
    <div class="hr-text mt-2">
        <i class="fa-2x ti ti-coins"></i>
        <span>{{ __('Consumed credits for this ticket', 'credit') }}</span>
    </div>

    {% set columns = {
        'name': __('Contract', 'credit'),
        'plugin_credit_types_id': __('Voucher type', 'credit'),
        'date_creation': __('Date consumed', 'credit'),
        'users_id': __('User consumed', 'credit'),
        'consumed': __('Quantity consumed', 'credit')
    } %}

    {% set datatable_params = {
        'is_tab': true,
        'nopager': true,
        'nofilter': true,
        'nosort': true,
        'columns': columns,
        'formatters': {
            'name': 'raw_html',
            'plugin_credit_types_id': 'raw_html',
            'consumed': 'raw_html',
            'date_creation': 'datetime',
            'users_id': 'raw_html',
        },
        'entries': entries,
        'total_number': entries|length,
        'filtered_number': entries|length,
    } %}

    {{ include('components/datatable.html.twig', datatable_params, with_context = false) }}
</div>
